<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add a new thing</title>
    <!-- Custom Font - Change 'Muli' to the font you want -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300|Dosis:400,300' rel='stylesheet' type='text/css'>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Custom CSS inside CSS folder -->
    <link rel="stylesheet" href="css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <form id="myForm">
      <div id="page-1" class="odd page">
        <div class="container">
          <div class="center-wrapper">
            <h1>Add a new thing</h1>
            <div class="form-group">
              <input type="text" class="form-control" id="input-title" placeholder="Title" name="title" required>
            </div>
            <div class="form-group">
              <div class="btn-group" role="group">
                <button  id ="input-finished" type="button" class="btn btn-default btn-prev">Quick Input</button>
                <button type="button" class="btn btn-default btn-next">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="page-2" class="even page">
        <div class="container">
          <div class="center-wrapper">
            <div class="form-group">
              <label for="input-category">Category</label>
              <div id ="input-category" class="btn-group" role="group" aria-label="Category">
                <button type="button" class="btn btn-default">ITP</button>
                <button type="button" class="btn btn-default">Life</button>
                <button type="button" class="btn btn-default">Family</button>
                <button type="button" class="btn btn-default">Hobby</button>
                <button type="button" class="btn btn-default">Work</button>
                <button id="input-category-other-btn" type="button" class="btn btn-default">Other</button>
              </div>
              <input type="text" class="form-control" id="input-category-other" placeholder="Other category" name="category">
            </div>
            <div class="form-group">
              <label for="input-topic">Topic</label>
              <input type="text" class="form-control" id="input-topic" placeholder = "Topic" name="topic">
              <div id="input-topic-btn" class="btn-group" role="group" aria-label="Topic">
                <button type="button" class="btn btn-default">Design</button>
                <button type="button" class="btn btn-default">Tech</button>
                <button type="button" class="btn btn-default">Handcrafts</button>
                <button type="button" class="btn btn-default">Art</button>
                <button type="button" class="btn btn-default">Culture</button>
                <button type="button" class="btn btn-default">Programming</button>
              </div>
            </div>
            
            <div class="form-group">
              <div class="btn-group" role="group" aria-label="Language">
                <button type="button" class="btn btn-default btn-prev">Prev</button>
                <button type="button" class="btn btn-default btn-next">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="page-3" class="odd page">
        <div class="container">
          <div class="center-wrapper">
            <div class="form-group">
              <label for="input-people">People</label>
              <input type="text" class="form-control" id="input-people" placeholder="People" name="people">
              <div id="input-people-btn" class="btn-group" role="group" aria-label="People">
                <button type="button" class="btn btn-default">Brady</button>
                <button type="button" class="btn btn-default">Mom</button>
              </div>
            </div>
            
            <div class="form-group">
              <div class="btn-group" role="group" aria-label="Language">
                <button type="button" class="btn btn-default btn-prev">Prev</button>
                <button type="button" class="btn btn-default btn-next">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="page-4" class="even page">
        <div class="container">
          <div class="center-wrapper">
            <div class="form-group">
              <label for="input-month">Month</label>
              <input type="text" class="form-control" id="input-month" placeholder="Month" name="month">
            </div>
            <div class="form-group">
              <label for="input-day">Day</label>
              <input type="text" class="form-control" id="input-day" placeholder="Day" name="day">
            </div>
            <div class="form-group">
              <label for="input-period">Time</label>
              <button type="button" class="btn btn-default" id="input-period" name="period">Period of time</button>
              <input type="text" class="form-control" id="input-startH" placeholder="Start Hour" name="startH">
              <input type="text" class="form-control" id="input-startM" placeholder="Start Minute" name="startM">
              <input type="text" class="form-control" id="input-endH" placeholder="End Hour" name="endH">
              <input type="text" class="form-control" id="input-endM" placeholder="End Minute" name="endM">
            </div>
            <div class="form-group">
              <label for="input-location">Location</label>
              <input type="text" class="form-control" id="input-location" placeholder="Location" name="location">
            </div>
                    <div class="form-group">
          <div class="btn-group" role="group" aria-label="Language">
            <button type="button" class="btn btn-default btn-prev">Prev</button>
            <button type="button" class="btn btn-default btn-next">Next</button>
          </div>
        </div>
          </div>
        </div>

      </div>
      <div id="page-5" class="odd page">
        <div class="container">
          <div class="center-wrapper">
            <div class="form-group">
              <label for="input-emotion">Emotion</label>
              <div id ="input-emotion" class="btn-group" role="group" aria-label="Emotion">
                <button type="button" class="btn btn-default">Happy</button>
                <button type="button" class="btn btn-default">Surprise</button>
                <button type="button" class="btn btn-default">Sad</button>
                <button type="button" class="btn btn-default">Angry</button>
                <button type="button" class="btn btn-default">Regret</button>
                <button type="button" class="btn btn-default">Anxious</button>
                <button id="input-emotion-other-btn" type="button" class="btn btn-default">Other</button>
              </div>
              <input type="text" class="form-control" id="input-emotion-other" placeholder="Other emotion" name="emotion">
            </div>
            <div class="form-group">
              <label for="input-description">Description</label>
              <input type="text" class="form-control" id="input-description" placeholder="Description" name="description">
              
            </div>
            <div class="form-group">
              <div class="btn-group" role="group" aria-label="Language">
                <button type="button" class="btn btn-default btn-prev">Prev</button>
                <button type="button" class="btn btn-default btn-next">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="page-6" class="even page">
        <div class="center-wrapper">
          <div class="form-group">
            <label for="input-shared">Sharing</label>
            <button type="button" class="btn btn-default" id="input-shared" name="period">Shared</button>
            <div id="shared-true">
              <input type="text" class="form-control" id="input-audience" placeholder="Audience" name="audience">
              <div id="input-audience-btn" class="btn-group" role="group" aria-label="People">
                <button type="button" class="btn btn-default">Brady</button>
                <button type="button" class="btn btn-default">Mom</button>
                <button type="button" class="btn btn-default">Friends</button>
              </div>
              <input type="text" class="form-control" id="input-media" placeholder="Media" name="media">
              <div id ="input-media-btn" class="btn-group" role="group" aria-label="Media">
                <button type="button" class="btn btn-default">Facebook</button>
                <button type="button" class="btn btn-default">Twitter</button>
                <button type="button" class="btn btn-default">Wechat</button>
                <button type="button" class="btn btn-default">Weibo</button>
                <button type="button" class="btn btn-default">Email</button>
                <button type="button" class="btn btn-default">Instagram</button>
                <button type="button" class="btn btn-default">Message</button>
              </div>
              <input type="text" class="form-control" id="input-feedback" placeholder="Feedback" name="feedback">
              <div class="form-group">
                <div class="btn-group" role="group" aria-label="Language">
                  <button type="button" class="btn btn-default btn-prev">Prev</button>
                  <button id="submit-button" type="button" class="btn btn-default">Submit</button>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      
      <div id="invisible">
        <div class="form-group">
          <label for="input-language">Language</label>
          <div id ="input-language" class="btn-group" role="group" aria-label="Language">
            <button type="button" class="btn btn-default">English</button>
            <button type="button" class="btn btn-default">Chinese</button>
          </div>
        </div>
        <div class="form-group">
          <label for="input-type">Type</label>
          <div id ="input-type" class="btn-group" role="group" aria-label="Type">
            <button type="button" class="btn btn-default">Do</button>
            <button type="button" class="btn btn-default">Think</button>
            <button type="button" class="btn btn-default">See</button>
          </div>
        </div>
        <div class="form-group">
          <label for="input-shared">About Thinking</label>
          <button type="button" class="btn btn-default" id="input-tookAction" name="tookAction">Did take action?</button>
          <input type="text" class="form-control" id="input-action" placeholder="Action" name="action">
        </div>
        <div class="form-group">
          <label for="input-shared">About Seeing</label>
          <input type="text" class="form-control" id="input-resource" placeholder="Resource" name="resource">
          <div id ="input-resource-btn" class="btn-group" role="group" aria-label="Resource">
            <button type="button" class="btn btn-default">Facebook</button>
            <button type="button" class="btn btn-default">Twitter</button>
            <button type="button" class="btn btn-default">Wechat</button>
            <button type="button" class="btn btn-default">Weibo</button>
            <button type="button" class="btn btn-default">Email</button>
            <button type="button" class="btn btn-default">Blog</button>
            <button type="button" class="btn btn-default">YouTube</button>
            <button type="button" class="btn btn-default">ITP</button>
            <button type="button" class="btn btn-default">Subway</button>
          </div>
          <div id ="input-attitude" class="btn-group" role="group" aria-label="Attitude">
            <button type="button" class="btn btn-default">Agree</button>
            <button type="button" class="btn btn-default">Disagree</button>
            <button type="button" class="btn btn-default">Like</button>
            <button type="button" class="btn btn-default">Dislike</button>
            <button id="input-attitude-other-btn" type="button" class="btn btn-default">Other</button>
          </div>
          <input type="text" class="form-control" id="input-attitude-other" placeholder="Other attitude" name="attitude">
          
          <input type="text" class="form-control" id="input-reason" placeholder="Reason" name="reason">
          <input type="text" class="form-control" id="input-url" placeholder="url" name="url">
        </div>
      </div>
      
    </form>
  </body>
  <!-- JQuery script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- JQuery validate -->
  <!--   // <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script> -->
  <!-- CUSTOM JS -->
  <script src="js/add-simple.js"></script>
</html>