/**************/

/* Custom CSS */

/**************/
body {
	background-color: #ede9e6;
}

form {
	background-color: #C5EFF7;
	padding: 20px;
}

h1{
	color:#fff;
	font-family: 'Dosis', sans-serif;
}

p{
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 24px;
}

label {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: #2A2A2A;
	font-size: 14pt;
}

.section{
	margin:0;
	padding: 40px 0 40px 0;
}

.odd{
	background-color: #dd5c4c;
}

.even{
	background-color: #ede9e6;
}

#title-wrapper{
	position: absolute;
	left:50%;
	top:45%;
	transform:translate(-50%, -50%);
	padding: 10px;
	/*border: 5px solid #fff;
	border-radius: 5px;*/
}

#title-wrapper h1{
	text-align: center;
	font-size: 96px;
	padding:12px;
}
#title-wrapper p{
	text-align: center;
}

.dropdown-menu li {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	white-space: nowrap;
	cursor: pointer;
}

.btn {
	border: none;
	outline: none;
	border-radius: 0;
}

.btn-default {
	border: none;
	outline: none;
	border-radius: 0;
	background-color: #FFF;
	color: #2A2A2A;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	color: #2A2A2A;
}

.form-control {
	border: none;
	outline: none;
	border-radius: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	color: #2A2A2A;
	border-color: none;
	box-shadow: none;
}

.dropdown-menu li {
	border: none;
	outline: none;
	border-radius: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	color: #2A2A2A;
}

.dropdown-menu li:hover {
	background-color: #ADACAD;
}

input {
	margin-bottom: 5px;
	margin-top: 5px;
}

.active {
	background-color: blue !important;
}

#byThings{

}
.emotion {
	height: 100px;
	position: relative;
	transform: translate(15px, -80px);
	z-index: 200;
}

.category {
	top:30px;
	height: 100px;
	position: relative;
	margin-bottom:0;
	z-index: 0;
}

.thing{
	position: relative;
	display: inline-block;
	margin-bottom:0;
}
.svg-container{
	
	z-index: 9900;
	position:absolute;
}

.people-container{
	left:0;
	top:0

}

.media-container{
		left:0;
	top:110px;

}

